<h1>Zdjęcia</h1>
<hr>
<div>
    <h3>Epstein</h3>
    <img src="public/zdjecia/epstein1.jpg" alt="Epstein" class="box" [ngClass]="{active:isActive1, inactive:!isActive1}">
    <button (click)="isActive1=!isActive1">PRZEŁĄCZ</button>
</div>
<hr>
<div>
    <h3>Diddy</h3>
    <img src="public/zdjecia/diddy.jpg" alt="Epstein" class="box"[ngClass]="{active:isActive2, inactive:!isActive2}">
    <button (click)="isActive2=!isActive2">PRZEŁĄCZ</button>
</div>
<hr>
<div>
    <h3>Trump</h3>
    <img src="public/zdjecia/trump.jpg" alt="Epstein" class="box"[ngClass]="{active:isActive3, inactive:!isActive3}">
    <button (click)="isActive3=!isActive3">PRZEŁĄCZ</button>
</div>
<hr>
<div>
    <h3>Netanyahu</h3>
    <img src="public/zdjecia/netanyahu.jpg" alt="Epstein" class="box"[ngClass]="{active:isActive4, inactive:!isActive4}">
    <button (click)="isActive4=!isActive4">PRZEŁĄCZ</button>
</div>
<hr>
<div>
    <h3>Tarczynski</h3>
    <img src="public/zdjecia/tarczynski.jpg" alt="Epstein" class="box"[ngClass]="{active:isActive5, inactive:!isActive5}">
    <button (click)="isActive5=!isActive5">PRZEŁĄCZ</button>
</div>
<hr>
